<a [routerLink]="['/new']">Add a quotable author</a>
<p>We have quotes by:</p>
<table>
	<thead>
		<th>Author</th>
		<th>Actions Available</th>
	</thead>
	<tr *ngFor="let author of authors">
		<td>{{author.name}}</td>
		<td><button [routerLink]="['/quotes', author._id]">View Quotes</button></td>
	</tr>
</table>
<!-- <h2>Add a quote</h2>
<form  (submit)="submitQuote()">
	<textarea name="content" [(ngModel)]="newQuote.content"></textarea>
	<p>Author <input type="text" name="author" [(ngModel)]="newQuote.author"></p>
	<input type="submit" value="Add Quote!">
</form>
<h2>Quotes List</h2>
<fieldset *ngFor="let quote of allQuotes">
	<div class="quote">

		<p>{{quote.content}}</p>
		<p>-{{quote.author}}</p>
		
	</div>
	<div class="score">
		{{quote.score}}
	</div>
	<div class="vote">
		<button (click)="voteUp(quote._id)">Vote Up</button>
		<button (click)="voteDown(quote._id)">Vote Down</button>
		<button (click)="deleteQuote(quote._id)">Delete</button>
	</div>
</fieldset> -->