.quote, .score, .vote {
	display: inline-block;
	vertical-align: top;
}
.quote {
	width: 70%;
}

.score {
	width: 10%;
}

.score, .vote {
	margin-top: 15px;
}
.vote {
	/*text-align: right;*/
}

.vote button {
	margin-left: auto;
	display: block;
	width:100%;
}
