<a [routerLink]="['/']">Home</a>

<p>Provide a quote by {{author.name}}</p>
<fieldset>
  <p>Quote:</p>
  <form (submit)="submitQuote()">
    <input type="text" name="content" [(ngModel)]="newQuote.content">
    <button [routerLink]="['/quotes', author._id]">Cancel</button>
    <input type="submit">
  </form>
</fieldset>