<a [routerLink]="['/']">Home</a> | <a [routerLink]="['/write', author._id]">Add a quote</a>
<p>Quotes by {{author.name}}</p>

<table>
  <thead>
    <th>Quote</th>
    <th>Votes</th>
    <th>Actions Available</th>
  </thead>
  <tr *ngFor="let quote of author.quotes">
    <td>{{quote.content}}</td>
    <td>{{quote.score}}</td>
    <td><button (click)="voteUp(quote._id)">Vote Up</button> <button (click)="voteDown(quote._id)">Vote down</button> <button (click)="deleteQuote(quote._id)">Delete</button></td>
  </tr>
</table>