<a [routerLink]="['/']">Home</a>
<p>Add a new quotable author</p>
<fieldset>
  <form (submit)="submitAuthor()">
    <input type="text" [(ngModel)]="newAuthor.name" name="name">
    <input type="submit">
  </form>
</fieldset>